* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4D3D87;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke-opacity='0.1'%3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.navbar{
  height: 4em;
  color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 6em;
}
.navbar h1 {
  color: #fff;
  margin-top: 0.2em;
}
.list{
  margin-top: 0.8em;
  list-style: none;
  padding-left: 2em;
  color: #fff;
}
.list:hover{
  color: #FBB04E;
}
.name{
  padding: 2em 6em;
  height: 20em;
  background-color:#040446;
  color: #fff;
}
.name h1 {
  font-size: 70px;
  color: #FBB04E;
  padding-bottom: 0.15em;
}
#btn{
  width: 8em;
  margin: 1.25em 0em;
  font-size: 20px;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #ffffff;
  color: #040446;
  border-radius: 2em;
}
#btn:hover, .beFriends:hover{
  border: none;
  background-color: #4D3D87;
  color: #FBB04E;
}
/* .photo {
  position: relative;
  top: -16em;
  left: 34em;
}
.photo img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 50%;
} */
.heading{
  height: 4em;
  padding-top: 1em;
  padding-left: 6em;
  display: flex;
  flex-direction: row;
  color: #FBB04E;
}
.heading h2 {
  font-weight: 500;
  padding-right: 1.5em;
}
.heading h2:hover {
  color: #FBB04E;
}
.about, .skills, .projects, .contact, .introduction{
  height: 28em;
  background-color:#040446;
}
.split{
  display: flex;
  flex-direction: row;
}
.slogan{
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  padding-top: 1em;
}
.introBox{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box{
  width: 15em;
  height: 15em;
  margin-top: 3em;
  background-color: #FBB04E;
  color: #040446;
  border-radius: 0.5em;
  border-top: 10px solid #ffffff;
}
.innerBox{
  margin: 1em 1.5em;
  font-size: 25px;
}
.about h3{
  padding-left: 3.7em;
  padding-top: 2em;
  color: #FBB04E;
  font-size: 25px;
}
.splitLeft{
  width: 60%;
}
.content {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 1.75em 5em;
  text-align: justify;
}
.skill{
  width: 90%;
  margin: 0 auto;
  display: flex;  
  flex-direction: row;
}
.skill div{
  padding-top: 8em;
  padding-right: 5em;
}
.skill h2{
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.project {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2.75em 6em;
}
.card{
  width: 18em;
  height: 22em;
  background-color: #fff;
  border-radius: 0.5em;
}
.image{
  width: 100%;
  height: 12em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color: #FBB04E;
}
.image img{
  width: 18em;
  height: 12em;
  object-fit: cover;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.image:hover {
  opacity: 50%;
}
.card h3 {
  padding: 0.5em 0.75em ;
}
.card p {
  padding: 0.25em 1em ;
}
.pageContact{
  background-color: #040446;
  display: flex;
  flex-direction: row;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 1.5em 6em;
}
.lable{
  font-size: 20px;
  padding-bottom: 1em;
  width: 10em;
  color: #ffffff;
}
.input{
  width: 25em;
  margin-bottom: 1em;
  font-size: 18px;
  padding: 0.5em;
  border-radius: 0.5em;
}
.textarea {
  width: 25em;
  border-radius: 0.5em;
  font-size: 18px;
  padding: 0.5em;
}
.beFriends{
  font-size: 18px;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
.thanks{
  display: flex;
  flex-direction: column;
} 
.thanks h1 {
  text-align: center;
  color: #FBB04E;
  font-weight: 400;
  font-size: 35px;
}
.socialmedia {
  display: flex;
  flex-direction: row;
}
.block{
  margin: 4em 3.5em;
  border : 2px solid #FBB04E;
  border-radius: 0.25em;
  width: 18em;
  height: 4em;
  color: #ffffff;
  padding: 0.25em 0.75em;
}
.block img {
  position: relative;
  top: -2.75em;
  left: 13.5em;
}

@media screen and (max-width:320px) {
  .navbar{
    height: 15em;
    display: flex;
    flex-direction: column;
    padding: 0.2em 0em 1em 0em;
  }
  .navbar h1{
    padding-left: 1em;
  }
  .list{
    padding-left: 2.1em;
  }
  .name{
    padding: 2em 2em;
    height: 22em;
  }
  .name h1 {
    font-size: 50px;
  }
  .heading{
    padding: 1em 0em 1em 2em;
    height: auto;
  }
  .heading h2 {
    font-size: 20px;
  }
  .about, .skills, .projects, .pageContact, .introduction {
    height: auto;
    padding-bottom: 2em;
  }
  .split{
    display: flex;
    flex-direction: column;
  }
  .slogan{
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }
  .introBox{
    width: 90%;
    margin: 0 2.5em;
    display: flex;
    flex-direction: column;
  }
  .about h3 {
    padding-left: 1.1em;
    padding-top: 1em;
  }
  .splitLeft{
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 1em 2em;
  }
  .skill {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skill div{
    padding: 1.5em 2em 0em 1.1em;
  }
  .skill h2{
    font-size: 18px;
  }
  .project {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0em 0.95em;
  }
  .card{
    width: 16em;
    height: 22em;
    margin-top: 2em;
  }
  .image img{
    width: 16em;
  }
  .pageContact, .thanks, .socialmedia{
    display: flex;
    flex-direction: column;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
  }
  .input, .textarea{
    width: 14em;
  }
  .thanks h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
  }
  .block{
    margin: 1em 0.85em;
  }
}
@media screen and (min-width:321px) and (max-width:375px){
  .navbar{
    height: 15em;
    display: flex;
    flex-direction: column;
    padding: 0.2em 0em 1em 0em;
  }
  .navbar h1{
    padding-left: 1em;
  }
  .list{
    padding-left: 2.1em;
  }
  .name{
    padding: 2em 2em;
    height: 22em;
  }
  .name h1 {
    font-size: 55px;
  }
  .heading{
    padding-left: 2em;
  }
  .heading h2 {
    font-size: 20px;
  }
  .about, .skills, .projects, .pageContact, .introduction {
    height: auto;
    padding-bottom: 2em;
  }
  .split{
    display: flex;
    flex-direction: column;
  }
  .slogan{
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }
  .introBox{
    width: 90%;
    margin: 0 4.25em;
    display: flex;
    flex-direction: column;
  }
  .about h3 {
    padding-left: 1.1em;
    padding-top: 1em;
  }
  .splitLeft{
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 1em 2em;
  }
  .skill {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skill div{
    padding: 1.5em 2em 0em 2em;
  }
  .skill h2{
    font-size: 18px;
  }
  .project {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0em 1.5em;
  }
  .card{
    width: 18em;
    height: 22em;
    margin-top: 2em;
  }
  .pageContact, .thanks, .socialmedia{
    display: flex;
    flex-direction: column;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
  }
  .input, .textarea{
    width: 17.5em;
  }
  .thanks h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
  }
  .block{
    margin: 1em 2em;
  }
}
@media screen and (min-width:376px) and (max-width:425px){
  .navbar{
    height: 15em;
    display: flex;
    flex-direction: column;
    padding: 0.2em 0em 1em 0em;
  }
  .navbar h1{
    padding-left: 1em;
  }
  .list{
    padding-left: 2.1em;
  }
  .name{
    padding: 2em 2em;
    height: 18em; 
  }
  .name h1 {
    font-size: 52px;
  }
  .heading{
    padding-left: 2em;
  }
  .heading h2 {
    font-size: 20px;
  }
  .about, .skills, .projects, .pageContact, .introduction {
    height: auto;
    padding-bottom: 2em;
  }
  .split{
    display: flex;
    flex-direction: column;
  }
  .slogan{
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }
  .introBox{
    width: 90%;
    margin: 0 5.8em;
    display: flex;
    flex-direction: column;
  }
  .about h3 {
    padding-left: 1.1em;
    padding-top: 1em;
  }
  .splitLeft{
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 1em 2em;
  }
  .skill {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skill div{
    padding: 1.5em 2em 0em 2.75em;
  }
  .skill h2{
    font-size: 18px;
  }
  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0em 4.2em;
  }
  .card{
    width: 18em;
    height: 22em;
    margin-top: 2em;
  }
  .pageContact, .thanks, .socialmedia{
    display: flex;
    flex-direction: column;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
  }
  .input, .textarea{
    width: 19em;
  }
  .thanks h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
  }
  .block{
    margin: 1em auto;
  }
}
@media screen and (min-width:426px) and (max-width:768px){
  .navbar{
    padding: 0.2em 2em 1em 6em;
  }
  .list{
    padding-left: 1.25em;
  }
  .split{
    display: flex;
    flex-direction: column;
  }
  .splitLeft{
    width: 100%;
  }
  .content {
    padding: 0em 5em;
  }
  .about, .skills, .projects, .pageContact, .introduction {
    height: auto;
    padding-bottom: 2em;
  }
  .slogan{
    width: 90%;
    margin: 0 auto;
  }
  .introBox{
    width: 90%;
    margin: 0 5.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .box {
    margin-right: 1em;
  }
  .skill {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .skill div{
    padding: 1.5em 2em 1em 2.5em;
  }
  .project {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0em 0em;
  }
  .card{
    margin: 2em 0em 0em 2em;
  }
  .pageContact, .thanks, .socialmedia{
    display: flex;
    flex-direction: column;
  }
  .block {
    margin: 1em 6em;
    padding: 0.25em 0.75em;
  }
  .thanks h1 {
    font-size: 30px;
  }
}
@media screen and (min-width:769px) and (max-width:1024px){
  .about, .skills, .projects, .pageContact, .introduction {
    height: auto;
    padding-bottom: 2em;
  }
  .splitLeft{
    width: 100%;
  }
  .content {
    width: 95%;
    margin: -0.5em auto;
  }
  .slogan {
    width: 90%;
    margin: 0 auto;
  }
  .introBox{
    width: 90%;
    margin: -0.5em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .split{
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-right: 1em;
  }
  .skill {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
  }
  .skill div{
    padding: 1.5em 2em 1em 2.5em;
  }
  .project {
    width: 65%;
    margin: 0 12.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em 0em 0em;
  }
  .card{
    margin-top: 2em;
  }
  .thanks, .socialmedia{
    display: flex;
    flex-direction: column;
  }
  .socialmedia {
    margin-top: 3.5em;
  }
  .thanks h1 {
    width: 90%;
    margin: 0.5em -1em;
    font-size: 30px;
  }
  .block{
    margin: 1em 0em;
  }
}



@media screen and (min-width:1025px) and (max-width:1440px){  
  .about, .skills, .projects, .pageContact, .introduction {
    height: auto;
    padding-bottom: 2em;
  }
  .content {
    width: 100%;
  }
  .introBox{
    width: 100%;
  }
  .skill {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
  }
  .skill div{
    padding: 1.5em 2em 1.5em 2em;
  }
  .skill img {
    padding-left: 1.6em;
  }
  .project {
    width: 100%;
  }
  .thanks, .socialmedia{
    display: flex;
    flex-direction: column;
  }
  .socialmedia {
    margin: 3.5em 11em;
  }
  .thanks h1 {
    margin: 0em 1.5em;
    font-size: 30px;
  }
  .block{
    margin: 1.5em 0em;
  }
}